**/.git
**/.github
**/.cache
**/__pycache__
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/node_modules
**/dist
srcML-build
srcML-dist
srcML-install
srcDiff/build
srcDiff/build-debug
srcDiff/build-release-check
srcDiff-dist
srcDiff-install
srcReader/build
srcReader/build-debug
srcMove/build
srcMove/build-debug
srcDispatch/build
sample_debug_tools
out.txt
